body {
    font-family: Verdana;
    background-color: #f99a1d;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

#wrap {
    width: 70%;
    margin: 0 auto;
}

header img {
    width: 75%;
    
}

header{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    background-size: 100%;
    background-color: red;
    background-image: linear-gradient(red, blue);
}

nav{
  background-color: skyblue;
  padding: 10px;
  text-align: center;
  font-size: 20px;
      
}

nav li {
    display: inline;
    /*padding: 20px;*/
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;    
}

nav a:hover {
    color: white;
    background-color: navy;
}

section{
    padding: 10px;
    background-color: #ffffff;
    overflow: auto;
}

.bgpic {
    width: 50%;
    float: right;
}

.button {
    background-color: skyblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin: 15px 0;
    display: inline-block;
}

a.button:hover {
    background-color: orange;
}

footer{
    background-color: #ec3d0f;
    color: white;
    padding: 10px;
    text-align: center
}








